</div>
</div>
</div>
<HR width="80%" color=#987cb9 SIZE=3>
<HR width="80%" color=#987cb9 SIZE=2>
<HR width="80%" color=#987cb9 SIZE=1>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div style="text-align:center">
        Copyright © 2019 多益网络, Zero. All rights reserved.
    </div>
</nav>
</body>

</html>