<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">ZoneForZero(切换导航栏)</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >留言板</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">主页</a>
            </li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">搜索题目</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
            <% if(statu_login.code!=0){ %>
                <li>
                    <a onclick="document.getElementById('log').style.display='block'">
                        登录</a>
                </li>
                <li>
                    <a onclick="document.getElementById('signup').style.display='block'">注册</a>
                </li>
                <% }else { %>
                    <li>
                        <a>
                            欢迎
                            <%=id_name.name %>!</a>
                    </li>
                    <li>
                        <a id="logout">退出</a>
                    </li>
                    <% } %>
                        <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>
                </li> -->
        </ul>
    </div>
</nav>
<script>
    $("#logout").click(function () {
        if (confirm('确定要退出吗?')) {
        $.ajax({
            url: "/logout",//后台提供的接口  
            type: "get",   //请求方式是post  
            success: function (data) {
                alert('退出成功！');
                window.location.reload();
            },
            error: function (data) {
                console.log(data);
                alert('退出异常，刷新！');
                window.location.reload();
            },
            complete: function (data) {
            }
        });
    }
    });
</script>